<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1 style="display: "> 404! </h1>
<p>Sorry, we cannot find the file you requested</p>

</body>
</html>